.breadcrumb {
    font-size: 18px;
    color: rgb(139, 138, 138);
    display: flex;
    align-items: center;
    margin: 50px 0px 30px;
    flex-wrap: wrap;
}

.link {
    color: rgb(139, 138, 138);
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    transition: all 0.3s;
    font-size: clamp(16px, 1vw, 18px);
}

.separator {
    padding: clamp(5px, 1vw, 10px);
    font-size: clamp(12px, 1vw, 15px);
    text-align: center;
}

.link:hover {
    color: #e692c0;
}