.breadcrumb {
    font-size: 18px;
    color: rgb(139, 138, 138);
    display: flex;
    align-items: center;
    margin: 50px 0px 30px;
}

.link {
    color: rgb(139, 138, 138);
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    transition: all 0.3s;
}

.separator {
    padding: 10px;
    font-size: 15px;
    text-align: center;
}

.link:hover {
    color: #e692c0;
}