.profileContainer {
      padding: 100px 30px;
      background-color: #f9f9f9;
      min-height: 100vh;
      position: relative;
}

.profileContent {
    max-width: 1320px;
    margin: 0 auto;
}

.userOrderBlock {
    display: flex;
    gap: 30px;
}