.setsContainer {
  background-color: #f9f9f9;
  background-image: url(./images/fon6.jpg);
  background-size: cover;
  background-position: 50% center;
  padding: 50px 30px;
  background-repeat: no-repeat;
}

@media (max-width: 630px) {
  .setsContainer {
    padding: 20px;
  }
}

