.userContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.userContainer h4 {
  color: grey;
  font-size: 18px;
  font-weight: 400;
}

.userContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 30px 50px 5px rgba(0, 0, 0, 0.05);
  padding: 30px;
  width: 430px;
}

.editBtn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s;
  align-self: flex-end;
  width: 25px;
  height: 25px;
}

.editBtn:hover {
  filter: brightness(1.3);
}

.editBtn img {
  width: 100%;
  height: 100%;
}

.userInfo {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.userInfo img {
  max-width: 130px;
  max-height: 130px;
}

.userInfo div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  height: 100%;
}

.userInfo p {
  color: rgb(61, 61, 61);
}

.userInfo a {
  color: grey;
  transition: all 0.3s;
}

.userInfo a:hover {
    color: #e692c0;
}

.userInfo h5 {
  max-width: 220px;
  font-size: 20px;
  font-weight: 700;
  color: rgb(61, 61, 61);
}

.userAddress {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.userAddress p {
  color: grey;
  font-size: 14px;
}

.userAddress div {
  background-color: #e692c0;
  color: white;
  border-radius: 10px;
  padding: 20px;
}

.userAddress button {
  border-radius: 10px;
  border: 3px solid #e692c0;
  color: #e692c0;
  background-color: white;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 20px;
}

.userAddress button:hover {
  background-color: #e692c0;
  color: white;
}
