.productDetailContainer {
  padding: 50px 30px 100px;
  background-image: url(./images/fon4.jpg);
  background-size: cover;
}

.detailSegmentBlock {
    display: flex;
    gap: 30px;
}


@media (max-width: 1024px) {
  .detailSegmentBlock {
    flex-direction: column;
    display: block;
    max-width: 75vw;
    margin: 0 auto;
  }
}

@media (max-width: 550px) {
  .productDetailContainer {
    padding: 20px;
  }
  .detailSegmentBlock {
    max-width: 100vw;
  }
}
