.candiesContainer {
  background-color: #f9f9f9;
  background-image: url(./images/2150798860.jpg);
  /* background-image: url(./images/fon.jpg); */
  background-size: cover;
  background-position: center;
  padding: 50px 30px;
  background-repeat: no-repeat;
}


@media (max-width: 630px) {
  .candiesContainer {
    padding: 20px;
  }
}

