.holidaysContainer {
  padding: 50px 30px;
  background-image: url(./images/fonnn.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.holidaysContent__block {
  display: grid;
  grid-template-columns: repeat(4, minmax(270px, 311px));
   grid-auto-rows: min-content;
  align-items: center;
  justify-content: center;
  gap: 25px;
}


@media (max-width: 1200px) {
  .holidaysContent__block {
    grid-template-columns: repeat(auto-fit, minmax(270px, 30vw));
  }
}

@media (max-width: 630px) {
  .holidaysContent__block {
    grid-template-columns: repeat(auto-fit, minmax(320px, 60vw));
  }
}


@media (max-width: 630px) {
  .holidaysContainer {
    padding: 20px;
  }
}
