.holidaysContainer {
  /* background-color: antiquewhite; */
  padding: 50px 30px;
  background-image: url(./images/fonnn.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.holidaysContent__block {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 300px));
  grid-template-rows: auto;
  gap: 25px;
  height: max-content;
  grid-auto-rows: min-content;
  align-items: center;
  justify-content: center;
}

@media (max-width: 630px) {
  .holidaysContainer {
    padding: 20px;
  }
}
